:root {
    --background-color: #F8F8F5;
    --backgrond-color-2: #0D1B2A;
    --extra-color: #000080;
}



        /* Estilos gerais */

        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            background-image: url('/nuwa/home/photos/fundo-ondas.png'); /* Fundo claro e neutro */
            background-size: cover;
            color: var(--background-color-2); /* Cor principal para textos */
            font-family: 'Lexend', sans-serif; /* Fonte padrão */
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }

        header {
            background-color: rgba(255, 255, 255, 0.6); /* Fundo do header */
            color: var(--backgrond-color); /* Texto claro para contraste */
            padding: 1em; /* Header maior */
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        .logo {
            max-width: 130px; /* Tamanho máximo da logo */
            height: auto; /* M2000antém a proporção */
            display: block; /* Garante que seja um bloco */
           /* margin: 0 auto 1em auto;  Centraliza e adiciona margem abaixo */
        }

        header h1 {
            font-family: 'Lexend', sans-serif; /* Fonte para títulos principais */
            font-size: 30px; /* Tamanho especificado */
            margin: 0;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            display: inline;
            margin: 0 1em;
        }

        nav a {
            color: var(--backgrond-color); /* Links no header */
            text-decoration: none;
            font-size: 15px;
        }

        nav a:hover {
            color: var(--extra-color); /* Mantém consistência */
        }

        main {
            flex: 1;
        }

        /* Seção Hero */
        .hero {
            text-align: center;
            padding: 4em 2em;
            background-size: cover;
        }

        .hero h2 {
            font-family: 'IBM Plex Mono', monospace; /* Fonte para subtítulos */
            font-size: 41px; /* Tamanho especificado */
            color: var(--background-color-2); /* Cor do texto */
            margin-bottom: 1em;
        }

        /*section carousel*/
        .mySlides {display: none;}

        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }

        .fade {
            animation-name: fade;
            animation-duration: 2s;
        }

        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: none;
            transition: background-color 0.6s ease;
        }


        @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
        }

        @media only screen and (max-width: 300px) {
            .text {font-size: 11px}
        }


        .btn {
            background-color: #0D1B2A; /* Fundo do botão */
            color: #F8F8F5;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
            display: inline-block; /* Para tornar clicável */
        }

        .btn:hover {
            background-color: #F8F8F5; /* Alterado para contraste */
            color: #0D1B2A;
        }

        /* Seção de Produtos */
        .products {
            padding: 2em;
            text-align: center;
            background-color: #0D1B2A; /* Fundo escuro */
            color: #F8F8F5; /* Texto claro para contraste */
        }

        .limitada {
            background-image: url('/nuwa/home/photos/fundo-ondas.png');
            background-size: cover;
            color: #0D1B2A;
        }

        .products h3 {
            font-family: 'Lexend', sans-serif;
            font-size: 48px; /* Título de seção */
        }

        .product-grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .product-item {
            background-color: #F8F8F5;
            border: 1px solid #0D1B2A; /* Borda */
            margin: 1em;
            padding: 1em;
            width: 300px;
            text-align: center;
            color: #0D1B2A; /* Cor do texto nos itens */
        }

        .product-item img {
            width: 100%;
            height: auto;
        }

        .product-item h4 {
            font-family: 'IBM Plex Mono', monospace;
            font-size: 24px;
            color: #0D1B2A;
        }

        .product-grid1 {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
            gap: 1.5em;
            max-width: 1200px;
            margin: 0 auto;
        }

        .product-item1 {
            background-color: #F8F8F5;
            border: 1px solid #0D1B2A; /* Borda */
            padding: 1em;
            text-align: center;
            color: #0D1B2A; /* Cor do texto nos itens */
        }

        .product-item1 img {
            width: 100%;
            height: auto;
            transition: transform 0.4s ease;
        }

        .product-item1 img:hover {
            transform: scale(1.3);
        }

        .product-item1 h4 {
            font-family: 'IBM Plex Mono', monospace;
            font-size: 24px;
            color: #0D1B2A;
        }

        footer{
            background-color: var(--extra-color); /* Fundo do footer */
            color: #F8F8F5;
            padding: 25px 40px 20px;
            font-size: 10px;
            position: relative;
        }

        footer::before {
            content: "";
            position: absolute;
            top: 20%;
            left: 5%;
            width: 90%;
            height: 1px;
            background-color: rgba(255, 255, 255, 1);
        }

        .separa-footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        .na-esquerda-footer {
            display: flex;
            gap: 25px;
        }

        .na-direita-footer {
            text-align: right;
        }

        footer p {
            margin: 0;
        }

        footer a {
            color: var(--backgrond-color); /* Links no header */
            text-decoration: none;
            font-size: 10px;
        }
        
        li{
            list-style: none;
        }

        /* Responsividade */
        @media (max-width: 768px) {
            header h1 {
                font-size: 40px;
            }
            .hero h2 {
                font-size: 30px;
            }
            .product-grid {
                flex-direction: column;
                align-items: center;
            }
            .logo {
                max-width: 150px; /* Ajuste para telas menores */
            }
        }

        @media(max-width: 1024px) {
            .product-item1 {
                grid-template-columns: repeat(2, 1fr);
            }

        }
