:root {
    --background-color: #F8F8F5;
    --backgrond-color-2: #0D1B2A;
    --extra-color: #000080;
}



        /* Estilos gerais */

        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            background-image: url('/home/photos/fundo-ondas.png'); /* Fundo claro e neutro */
            background-size: auto;
            color: var(--background-color-2); /* Cor principal para textos */
            font-family: 'Lexend', sans-serif; /* Fonte padrão */
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }

        header {
            background-color: rgba(255, 255, 255, 0.6); /* Fundo do header */
            color: var(--backgrond-color); /* Texto claro para contraste */
            padding: 1em; /* Header maior */
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        .logo {
            max-width: 130px; /* Tamanho máximo da logo */
            height: auto; /* M2000antém a proporção */
            display: block; /* Garante que seja um bloco */
           /* margin: 0 auto 1em auto;  Centraliza e adiciona margem abaixo */
        }

        header h1 {
            font-family: 'Lexend', sans-serif; /* Fonte para títulos principais */
            font-size: 30px; /* Tamanho especificado */
            margin: 0;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            display: inline;
            margin: 0 1em;
        }

        nav a {
            color: var(--backgrond-color); /* Links no header */
            text-decoration: none;
            font-size: 15px;
        }

        nav a:hover {
            color: var(--extra-color); /* Mantém consistência */
        }

        main {
            flex: 1;
        }

        footer{
            background-color: var(--extra-color); /* Fundo do footer */
            color: #F8F8F5;
            text-align: center;
            padding: 2px 0;
            line-height: 2;
            font-size: 10px;
        }

        footer p {
            margin: 0;
        }