:root {
    --background-color: #F8F8F5;
    --backgrond-color-2: #0D1B2A;
    --extra-color: #000080;
}

        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            color: var(--background-color-2);
            font-family: 'Lexend', sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: rgba(255, 255, 255, 0.6);
            color: var(--backgrond-color);
            padding: 1em;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        header h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
            font-size: 30px;
            margin: 0;
        }

        header h1 a {
            color: #000080;
            text-decoration: none;
        }

        nav ul {
            list-style: none;
            padding: 0;
            text-align: center;
            margin: -1.5em 0 0 0;
        }

        nav ul li {
            display: inline;
            margin: 0 1em;
        }

        nav a {
            color: var(--backgrond-color);
            text-decoration: none;
            font-size: 15px;
        }

        nav a:hover {
            color: var(--extra-color);
        }

        main {
            flex: 1;
        }
        
        .container-products {
            display: flex;
            flex-direction: column;
            padding: 20px 130px 20px 190px;
        }

        .produtos{
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 20px;
        }

        .card{
            background: white;
            transition: 0.3s;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .imagem {
            position: relative;
            height: 420px;
            width: 420px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .imagem::after{
            content: "";
            position: absolute;
            inset: 0;
            transition: 0.3s;
        }

        .imagem img{
            width: 100%;
            transition: 0.4s;
        }

        .card:hover img{
            transform: scale(1.05);
        }

        .card:hover .imagem::after{
            background: rgba(100, 100, 100, 0.45);
        }
        .card:hover .overlay{
            opacity: 1;
        }

        .nome{
            font-size: 16px;
            margin-bottom: 8px;
        }

        .categoria{
            color: gray;
        }

        footer{
            background-color: var(--extra-color);
            color: #F8F8F5;
            padding: 25px 40px 20px;
            font-size: 10px;
            position: relative;
        }

        footer::before {
            content: "";
            position: absolute;
            top: 20%;
            left: 5%;
            width: 90%;
            height: 1px;
            background-color: rgba(255, 255, 255, 1);
        }

        .separa-footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        .na-esquerda-footer {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        .links-footer {
            display: flex;
            gap: 25px;
            transform: translateY(10px);
        }

        .logos{
            display: flex;
        }

        .logos img {
            width: 40px;
            height: 40px;
        }

        .na-direita-footer {
            text-align: right;
            transform: translateY(-45px);
        }

        footer p {
            margin: 0;
        }

        footer a {
            color: var(--backgrond-color);
            text-decoration: none;
            font-size: 10px;
        }

         @media (max-width: 1740px) {
            .container-products {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
            }

            .produtos {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 80px;
            }
        }

        @media (max-width: 1390px) {
            .container-products {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
            }

            .produtos {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;

            .imagem {
                width: 300px;
                height: 300px;
            }
        }


        @media (max-width: 850px) {
            .container-products {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
            }

            .produtos {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                align-items: center;
                justify-content: center;
                gap: 15px;
            }

            header {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.75rem;
            }

            header h1 {
                font-size: 25px;
                margin-bottom: 0.25rem;
            }

            nav ul {
                margin: 0;
            }
        }
